footer {
  height: fit-content;
  background: $colour-secondary;
  bottom: 0;

  @media (max-width: 576px) {
    background: white;
    text-align: center;
  }
}

.footer {
  &__container {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
  }

  &__item {
    padding: 15px;
  }

  &__item--right {
    text-align: end;

    @media (max-width: 576px) {
      text-align: center;
    }
  }
}
