html,
body {
  height: 100%;
  font-family: "Open-Sans";
  color: $colour-content;
  background-color: $colour-background;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.wrapper {
  flex: 1 0 auto;
}
